<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Movie-Chat
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        header.navbar.d-flex.justify-content-center(style="background-color: rgb(209, 206, 33);")
            h1(style="font-family: fantasy;") Movie-Chat

        form(action="/search" method="POST" class="form-group text-center" style="margin:30px 0px;")  
            input(type="text" name="search" style="margin: 10px 5px; height:45px; width: 400px;" placeholder="Search for movies")
            button(type="submit" style="margin : 10px 0px; height:45px; width: 80px; border-width: 0ch; background-color: rgb(163, 228, 59);")
                i.fa.fa-search

        main.container-fluid.row(style="width:inherit; margin-right:20px; margin-left:5px;")
            each movie in movies
                .col-md-3(style="padding: 20px 10px;")
                    .text-center
                        img(src=movie.Poster style="width:80%; height:200px; padding: 0px 40px;")
                        h5(style="padding: 5px 40px 0px 40px;") #{movie.Title}
                        h5 #{movie.Year}
                        form(action="/details" method="POST")  
                            input(type="hidden" name="id" value=movie.imdbID style="margin: 10px 5px; height:45px; width: 400px;")
                            button(type="submit" style="margin : 10px 0px; height:45px; width: 80px; border-width: 0ch; background-color: rgb(163, 228, 59);")
                                a Details


        footer.footer-copyright.text-center.py-3(style="width: 100%; text-align: center;") &copy; 2020 Copyright:
            a(href="#") www.movie_chat.com

